<?xml version="1.0"?>
<config>
    <modules>
        <NG_Slider>
            <version>1.0.3</version>
        </NG_Slider>
    </modules>
    <frontend>
        <routers>
            <slider>
                <use>standard</use>
                <args>
                    <module>NG_Slider</module>
                    <frontName>slider</frontName>
                </args>
            </slider>
        </routers>
        <layout>
            <updates>
                <slider>
                    <file>slider.xml</file>
                </slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<slider>
				<use>admin</use>
				<args>
					<module>NG_Slider</module>
					<frontName>slider</frontName>
				</args>
			</slider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<slider module="slider">
				<title>3D Slider</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="slider">
						<title>Manage Slides</title>
						<sort_order>0</sort_order>
						<action>slider/adminhtml_slider</action>
					</items>
				</children>
			</slider>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<NG_Slider>
							<title>slider Module</title>
							<sort_order>10</sort_order>
						</NG_Slider>
						<system>
							<children>
								<config>
									<children>
										<slider translate="title" module="slider"> 
											<title>Slide Settings</title>
											<sort_order>50</sort_order>
										</slider>
									</children>							
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<slider>
					<file>slider.xml</file>
				</slider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <slider>
                <class>NG_Slider_Model</class>
                <resourceModel>slider_mysql4</resourceModel>
            </slider>
            <slider_mysql4>
                <class>NG_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>slider</table>
                    </slider>
                </entities>
            </slider_mysql4>
        </models>
        <resources>
            <slider_setup>
                <setup>
                    <module>NG_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </slider_setup>
            <slider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </slider_write>
            <slider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </slider_read>
        </resources>
        <blocks>
            <slider>
                <class>NG_Slider_Block</class>
            </slider>
        </blocks>
        <helpers>
            <slider>
                <class>NG_Slider_Helper</class>
            </slider>
        </helpers>
    </global>
	<default>
	        <slider>
	            <defaultconfig>
	                <delay>6000</delay>
	                 <image_width>825</image_width>
					 <image_height>200</image_height>
	            </defaultconfig>
	        </slider>
	</default>
</config>