/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	width: 160px !important;
	position:relative;
	height: 36px;
	background: url(../images/select_left.gif) no-repeat top left;
	float:right;
	/* z-index: ; */
}

.jqTransformSelectWrapper ul { width: 160px !important;}
.jqTransformSelectWrapper div span {
	
	font-size: 12px;
	float: none;
	position: absolute;
	white-space: nowrap;
	/* height: 28px; */
	line-height: 15px;
	padding: 11px 0 10px 7px;
	overflow: hidden;
	cursor:pointer;
	width: 117px !important;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 37px;
	height: 36px;
	background: url(../images/select_right.gif) no-repeat center center;
}

.jqTransformSelectWrapper ul  li {z-index: 99;}
.jqTransformSelectWrapper ul {
	position: absolute;
	top: 35px;
	left: 0px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #d9d9d9;
	display: none;
	margin: 0px;
	padding: 0px;
	height: auto !important;
	overflow: auto;
	overflow-y: auto;
	z-index:10;
	border-bottom: 0 none;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#575757;
	background-color: #f3f3f3;
	font-size: 12px;
	border-bottom: 1px solid #d9d9d9;
}

.jqTransformSelectWrapper ul a.selected {
	background: #ffffff;
	color: #575757;
	
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#ffffff;
	color: #575757;
}

.jqtransformdone label { float: left; padding: 8px 0; margin: 0 5px 0 0;}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}